@charset "UTF-8";
/*!
 * ress.css • v3.0.1
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
     # General elements
     # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
     # Forms
     # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type="search"] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
     # Specify media element style
     # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
     # Accessibility
     # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}

/* Specify the progress cursor of updating elements */
[aria-busy="true"] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

@font-face {
  font-family: 'mplus-1m-regular';
  src: url(../fonts/mplus-1m-regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'mplus-1m-bold';
  src: url(../fonts/mplus-1m-bold.ttf);
  font-weight: bold;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'mplus-1m-regular', 'mplus-1m-bold', 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  max-width: 100%;
}

:focus {
  outline: none;
}

.wp-caption {
  font-size: 1.5rem;
}

.wp-caption-text {
  margin-top: -20px;
}

.sticky {
  padding: 20px;
  background: #707070;
}

.gallery-caption {
  font-size: 1.5rem;
}

.bypostauthor {
  padding: 20px;
  background: #707070;
}

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.l-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 135px;
  padding: 0 21px 0 38px;
  background-color: #FFF7EF;
  position: relative;
}

.l-header__title {
  color: inherit;
}

.l-header h1 {
  font-family: "Robot", sans-serif, bold;
  font-size: 4rem;
  color: #707070;
}

.l-header__menu-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 15px;
  font-family: "Robot", sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  color: #707070;
  display: none;
}

@media screen and (max-width: 960px) {
  .l-header {
    padding: 0 21px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .l-header h1 {
    font-size: 3rem;
    margin-bottom: 22px;
  }
  .l-header__menu-icon {
    display: block;
  }
  .l-header__menu-icon:hover {
    cursor: pointer;
  }
  .l-header__menu-icon.show {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .l-header__menu-icon {
    font-size: 2rem;
  }
}

.l-footer {
  background-image: url(../images/footer.jpg);
  height: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-footer__container ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-footer p {
  font-family: "mplus-1m-regular", sans-serif;
  font-size: 1rem;
  color: #ffffff;
  text-align: center;
}

.l-footer__menu {
  font-family: "mplus-1m-regular", sans-serif;
  font-size: 1rem;
  color: #ffffff;
  text-align: center;
}

.l-footer__menu li:first-child {
  padding-right: 5px;
  border-right: 1px solid #ffffff;
  margin-right: 5px;
}

.l-footer__menu li:last-child {
  padding-left: 5px;
  border-left: 1px solid #ffffff;
  margin-left: 5px;
}

.l-footer__menu a {
  font-size: 1.2rem;
  color: #ffffff;
}

.l-sidebar {
  background-color: #F2EDE9;
  z-index: 500;
}

.l-sidebar__menu {
  margin: 49px 25px;
  font-family: "Robot", sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  color: #707070;
}

@media screen and (max-width: 960px) {
  .l-sidebar {
    display: none;
  }
  .l-sidebar.show {
    display: block;
    position: absolute;
    right: 0;
    padding-bottom: 500px;
  }
  .l-sidebar__menu-icon.show {
    position: absolute;
    top: -110px;
    left: 190px;
    display: inline-block;
    vertical-align: middle;
    color: #707070;
    line-height: 1;
    width: 2.3em;
    height: 0.3em;
    background: currentColor;
    border-radius: 0.1em;
    position: relative;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .l-sidebar__menu-icon.show::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

.c-contents {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFFDFA;
}

.c-contents-archive {
  padding: 37px 61px;
}

@media screen and (max-width: 960px) {
  .c-contents-archive {
    padding: 30px;
  }
}

.c-contents-archive > h3 {
  font-family: "mplus-1m-bold", sans-serif;
  font-size: 2rem;
  color: #3C2B1C;
}

@media screen and (max-width: 600px) {
  .c-contents-archive > h3 {
    font-size: 1.5rem;
  }
}

.c-contents-archive > p {
  font-family: "mplus-1m-regular", sans-serif;
  font-size: 1.5rem;
  color: #3C2B1C;
  margin: 20px 0;
}

@media screen and (max-width: 600px) {
  .c-contents-archive > p {
    font-size: 1rem;
  }
}

.c-contents-single {
  padding: 37px 61px;
}

@media screen and (max-width: 960px) {
  .c-contents-single {
    padding: 30px;
  }
}

.c-contents-single > h2 {
  font-family: "mplus-1m-bold", sans-serif;
  font-size: 2rem;
  color: #3C2B1C;
}

.c-contents-single > h3, .c-contents-single h4, .c-contents-single h5, .c-contents-single h6 {
  font-family: "mplus-1m-bold", sans-serif;
  font-size: 1.7rem;
  color: #3C2B1C;
}

@media screen and (max-width: 600px) {
  .c-contents-single > h3, .c-contents-single h4, .c-contents-single h5, .c-contents-single h6 {
    font-size: 1.6rem;
  }
}

.c-contents-single > h4, .c-contents-single h5, .c-contents-single h6 {
  font-family: "mplus-1m-bold", sans-serif;
  font-size: 1.5rem;
  color: #3C2B1C;
  margin: 30px 0;
}

.c-contents-single > p {
  font-family: "mplus-1m-regular", sans-serif;
  font-size: 1.5rem;
  color: #3C2B1C;
  margin: 30px 0;
}

@media screen and (max-width: 600px) {
  .c-contents-single > p {
    font-size: 1rem;
  }
}

.c-contents__error {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.c-contents__error-title {
  color: #707070;
  font-size: 4rem;
  margin: 100px 0 60px 0;
}

.c-contents__error-message {
  color: #707070;
  font-size: 1.5rem;
  margin: 30px 0;
}

.c-contents__error-message > a {
  font-size: 2rem;
  color: #707070;
}

main {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

aside {
  width: 240px;
}

.c-search-form__input, .c-search-form__buttom {
  border: 1px solid #707070;
  border-radius: 10px;
  height: 35px;
  width: 250px;
  padding: 0 25px;
  background: #ffffff;
}

.c-search-form__buttom {
  width: 84px;
  font-family: "mplus-1m-bold", sans-serif;
  color: #707070;
  font-size: 1.2rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#F2EDE9), to(#DED8D3));
  background: -webkit-linear-gradient(#F2EDE9, #DED8D3);
  background: linear-gradient(#F2EDE9, #DED8D3);
}

.c-search-form__buttom.type-single {
  height: 70px;
  width: 300px;
  color: #3C2B1C;
}

@media screen and (max-width: 600px) {
  .c-search-form__buttom.type-single {
    height: 55px;
    width: 100%;
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .c-search-form__input, .c-search-form__buttom {
    width: 200px;
  }
  .c-search-form__buttom {
    width: 75px;
  }
}

.c-eat-place__title {
  font-family: "Robot", sans-serif;
  font-size: 5rem;
  margin: 4%;
}

.c-eat-place__title :hover {
  opacity: 0.8;
}

.c-eat-place__title a {
  color: #ffffff;
}

.c-eat-place__txtsub {
  background: rgba(255, 255, 255, 0.8);
  padding: 4%;
  margin: 4%;
}

.c-eat-place__txtsub h3 {
  font-family: "mplus-1m-bold", sans-serif;
  font-size: 2rem;
  color: #3C2B1C;
  margin-bottom: 4%;
}

.c-eat-place__txtsub p {
  font-family: "mplus-1m-regular", sans-serif;
  color: #3C2B1C;
  font-size: 1.5rem;
}

@media screen and (max-width: 960px) {
  .c-eat-place__title {
    font-size: 3rem;
  }
  .c-eat-place__txtsub h3 {
    font-size: 1.5rem;
  }
  .c-eat-place__txtsub P {
    font-size: 1rem;
  }
}

.c-location-info {
  background-color: rgba(0, 0, 0, 0.29);
  font-family: "mplus-1m-bold", sans-serif;
  color: #ffffff;
}

.c-location-info h2 {
  font-size: 2.5rem;
}

.c-location-info hr {
  height: 1.5px;
  width: 60px;
  background-color: #ffffff;
  border: none;
  margin: 30px 0;
}

.c-location-info__description {
  font-size: 1.5rem;
}

@media screen and (max-width: 960px) {
  .c-location-info h2 {
    font-size: 2rem;
  }
  .c-location-info__description {
    font-size: 1.2rem;
  }
}

.c-food-menu {
  margin-left: 25px;
}

.c-food-menu li {
  margin-top: 20px;
  margin-bottom: 20px;
}

.c-food-menu li :hover {
  opacity: 0.8;
}

.c-food-menu__category {
  font-size: 2rem;
}

.c-food-menu__category a {
  font-family: "mplus-1m-bold", sans-serif;
  color: #707070;
}

.sub-menu {
  margin-left: 20px;
  font-size: 1.5rem;
}

.sub-menu a {
  font-family: "mplus-1m-regular", sans-serif;
}

.c-filter.show {
  position: absolute;
  top: 0;
  width: 100%;
  height: 800%;
  background-color: #707070;
  opacity: 0.9;
  z-index: 300;
}

.c-menu-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0;
  height: 320px;
}

@media screen and (max-width: 600px) {
  .c-menu-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 500px;
  }
}

.c-menu-card__picture {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.c-menu-card__picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 600px) {
  .c-menu-card__picture img {
    height: 250px;
    vertical-align: bottom;
  }
}

.c-menu-card__about {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #3C2B1C;
  padding: 5%;
  color: #ffffff;
}

.c-menu-card__about h2 {
  font-family: "mplus-1m-bold", sans-serif;
  font-size: 2rem;
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .c-menu-card__about h2 {
    margin-top: 10px;
  }
}

.c-menu-card__about h3 {
  font-family: "mplus-1m-bold", sans-serif;
  font-size: 1.7rem;
}

@media screen and (max-width: 600px) {
  .c-menu-card__about h3 {
    font-size: 1.5rem;
  }
}

.c-menu-card__about p {
  font-family: "mplus-1m-regular", sans-serif;
  font-size: 1.5rem;
  margin: 10px 0;
}

@media screen and (max-width: 960px) {
  .c-menu-card__about p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  .c-menu-card__about p {
    font-size: 1rem;
    margin: 15px 0 20px 0;
  }
}

.c-menu-card__about p a {
  color: #ffffff;
}

.c-menu-card__button {
  display: block;
  margin: 30px auto;
  background-color: #ffffff;
  width: 210px;
  padding: 20px;
  border-radius: 100vh;
}

@media screen and (max-width: 960px) {
  .c-menu-card__button {
    width: 150px;
    padding: 15px;
  }
}

@media screen and (max-width: 600px) {
  .c-menu-card__button {
    margin: 20px auto 10px auto;
  }
}

.c-menu-card__button a {
  font-family: "mplus-1m-bold", sans-serif;
  color: #707070;
  font-size: 1.3rem;
}

.wp-block-quote {
  background-color: #F5F5F5;
  padding: 30px;
}

.wp-block-quote > p {
  font-family: "mplus-1m-regular", sans-serif;
  font-size: 1.5rem;
  color: #3C2B1C;
}

@media screen and (max-width: 600px) {
  .wp-block-quote > p {
    font-size: 1rem;
  }
}

.c-single-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../images/single-top.jpg);
  height: 330px;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 960px) {
  .c-single-top {
    background-size: 130% auto;
    font-size: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .c-single-top {
    max-height: 178px;
  }
}

.c-single-top__title {
  margin-left: 38px;
  color: #ffffff;
  font-family: "mplus-1m-bold", sans-serif;
  font-size: 4rem;
}

@media screen and (max-width: 960px) {
  .c-single-top__title {
    font-size: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .c-single-top__title {
    font-size: 2.5rem;
  }
}

.c-single-top.aboutshop {
  background-image: url(../images/page-fix-top.jpg);
}

.c-single-main__pic {
  margin-bottom: 40px;
}

.c-single-main__pic > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 430px;
  margin-top: 40px;
  -o-object-position: 0 100%;
     object-position: 0 100%;
}

@media screen and (max-width: 960px) {
  .c-single-main__pic > img {
    height: 330px;
  }
}

.c-single-main__pic > figure > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .wp-block-media-text {
    display: inline-block;
  }
}

.wp-block-media-text__content > p {
  font-family: "mplus-1m-regular", sans-serif;
  font-size: 1.5rem;
  color: #3C2B1C;
}

@media screen and (max-width: 600px) {
  .wp-block-media-text__content > p {
    font-size: 1rem;
    margin-top: 20px;
  }
}

.wp-block-gallery {
  margin: 0;
}

@media screen and (max-width: 600px) {
  .blocks-gallery-grid, .wp-block-gallery {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  .blocks-gallery-grid, .blocks-gallery-item {
    width: 100% !important;
    margin-right: 0 !important;
  }
}

.c-single-list {
  margin: 30px 30px;
  font-family: "mplus-1m-regular", sans-serif;
  font-size: 1.5rem;
  color: #3C2B1C;
}

@media screen and (max-width: 600px) {
  .c-single-list {
    margin: 15px 0;
    font-size: 1rem;
  }
}

.c-single-list > li {
  list-style-type: decimal;
  list-style-position: inside;
}

.c-single-list > li > ul {
  margin: 30px;
}

@media screen and (max-width: 600px) {
  .c-single-list > li > ul {
    margin: 15px;
  }
}

.p-search-form {
  position: relative;
}

.p-search-form .fa-search {
  position: absolute;
  left: 7px;
  top: 10px;
  font-size: 1.7rem;
}

.p-front-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../images/front-top.jpg);
  height: 330px;
  background-size: cover;
  background-position: center;
}

.p-front-top__title {
  margin-left: 38px;
  color: #ffffff;
  font-family: "mplus-1m-bold", sans-serif;
  font-size: 2.5rem;
}

@media screen and (max-width: 960px) {
  .p-front-top {
    max-height: 178px;
  }
}

.p-eat-place {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 40px;
}

.p-eat-place__select {
  width: 45%;
  height: 740px;
  margin: 0 auto;
  position: relative;
}

.p-eat-place__select-takeout {
  background-image: url(../images/archive-top.jpg);
  background-position: center;
}

.p-eat-place__select-eatin {
  background-image: url(../images/eat-in.jpg);
  background-position: center;
}

.p-eat-place hr {
  margin: 4%;
  height: 5px;
  width: 45px;
  background-color: #ffffff;
  border: none;
}

.p-eat-place__txt {
  width: 100%;
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 960px) {
  .p-eat-place {
    padding: 40px 20px;
  }
  .p-eat-place__select {
    height: 430px;
  }
}

@media screen and (max-width: 600px) {
  .p-eat-place {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 10px;
  }
  .p-eat-place__select {
    width: 90%;
  }
  .p-eat-place__select-takeout {
    margin-bottom: 30px;
  }
  .p-eat-place hr {
    display: none;
  }
}

.p-location {
  position: relative;
}

.p-location::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #707070;
  opacity: 0.5;
  display: block;
}

.p-location-info {
  position: absolute;
  width: 60%;
  height: 100%;
  z-index: 100;
}

.p-location-info__container {
  position: absolute;
  top: 30%;
  left: 35%;
  -webkit-transform: translate(-30%, -30%);
          transform: translate(-30%, -30%);
}

.p-location iFrame {
  width: 100%;
}

@media screen and (max-width: 960px) {
  .p-location-info {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .p-location-info {
    height: 55%;
  }
  .p-location-info__container {
    top: 60%;
  }
}

.p-archive-bg {
  background-image: url(../images/archive-top.jpg);
  height: 170px;
  background-size: cover;
  background-position: center;
}

.p-archive-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 170px;
}

.p-archive-top__title {
  margin-left: 38px;
  color: #ffffff;
  font-family: "Robot", sans-serif, bold;
  font-size: 4rem;
}

.p-archive-top__menu {
  font-family: "mplus-1m-bold", sans-serif;
  font-size: 2rem;
  vertical-align: middle;
}

@media screen and (max-width: 600px) {
  .p-archive-bg {
    background-size: auto;
  }
  .p-archive-top__title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 2.5rem;
  }
}

.wp-pagenavi {
  margin-top: 60px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .wp-pagenavi {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.wp-pagenavi a, .wp-pagenavi span {
  padding: 6px 10px;
  margin: 0 4px;
  font-weight: bold;
}

.previouspostslink, .nextpostslink {
  border: none !important;
}

.wp-pagenavi span {
  border: none;
}

.pages {
  font-family: "Robot", sans-serif;
  color: #707070;
  font-weight: bold;
  font-size: 1.2rem;
  margin-right: 4px;
}

@media screen and (max-width: 600px) {
  .pages {
    display: none;
  }
}

.previouspostslink, .nextpostslink {
  font-family: "Robot", sans-serif;
  color: #707070;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
}

.page {
  color: #707070;
  background-color: #ffffff;
  font-family: "Robot", sans-serif;
  font-size: 1.2rem;
}

@media screen and (max-width: 600px) {
  .page {
    display: none;
  }
}

.current {
  color: #ffffff;
  background-color: #3C2B1C;
  font-family: "Robot", sans-serif;
  font-size: 1.2rem;
}

@media screen and (max-width: 600px) {
  .page-template-default {
    display: block !important;
  }
}

.wp-block-code {
  background-color: #F5F5F5;
  font-size: 1.5rem;
  color: #3C2B1C;
}

@media screen and (max-width: 600px) {
  .wp-block-code {
    font-size: 1rem;
  }
}

.has-fixed-layout {
  background-color: #ffffff;
  width: 100%;
  margin: 40px 0;
  border-collapse: collapse;
}

@media screen and (max-width: 600px) {
  .has-fixed-layout {
    margin: 20px 0;
  }
}

td {
  border: 1px #707070 solid;
  font-family: "mplus-1m-regular", sans-serif;
  color: #3C2B1C;
  font-size: 1.5rem;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

@media screen and (max-width: 600px) {
  td {
    font-size: 1rem;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  }
}

.u-bold {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 40px 0;
}

.wpcf7-form > p {
  font-family: "mplus-1m-regular", sans-serif;
  color: #3C2B1C;
  font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
  .wpcf7-form > p {
    font-size: 1rem;
  }
}

.wpcf7-text, .wocf7-textarea, .wpcf7-form-control {
  width: 100%;
  padding: 10px;
  border: solid 1px #bbbbbb;
  background-color: #ffffff;
}

.wpcf7-submit {
  width: 250px;
  padding: 10px;
  border: none;
  background-color: #F2EDE9;
  margin-top: 10px;
}
/*# sourceMappingURL=style.css.map */