.c-pagenavi {
    font-weight: bold;
    color: $header-color;
    background-color: #ffffff;
    border: solid 1px $header-color;
    padding: 1.5px 6px;
    margin: 0 2px;
    @include mq(sm) {
        display: none;
    }

    &.current {
        color: #ffffff;
        background-color: $menu-card-bg;
    }
}