.c-search-form {
    &__input {
        border: $search-box-line;
        border-radius: 10px;
        height: 35px;        
        width: 250px;
        padding: 0 25px;
        background: #ffffff;
    }
    &__buttom {
        @extend .c-search-form__input;
        width: 84px;
        font-family: $jp-fonts-b;
        color: $header-color;
        font-size: 1.2rem;
        background: linear-gradient(#F2EDE9,#DED8D3);

        &.type-single{
            height: 70px;
            width: 300px;
            color: $major-fc;
            @include mq(sm){
                height: 55px;
                width: 100%;
                font-size: 1rem;
            }
        }
    }
}

@include mq(sm) {
    .c-search-form{
        &__input {
            width: 200px;
        }
        &__buttom {
            width: 75px;
        }
    }
}