.c-single-list {
    margin: 30px 30px;
    font-family: $jp-fonts-l;
    font-size: 1.5rem;
    color: $major-fc;
    @include mq(sm){
        margin: 15px 0;
        font-size: 1rem;
    }

    &>li {
        list-style-type: decimal;
        list-style-position: inside;
        &>ul {
            margin: 30px;
            @include mq(sm){
                margin: 15px;
            }
        }
    
    }
}
