// .p-pagenavi {
//     margin-top: 60px;
//     text-align: center;
//     @include mq(sm) {
//         display: flex;
//         justify-content: space-between;
//     }

//     &__pages {
//         font-family: $en-fonts;
//         color: $header-color;
//         font-weight: bold;
//         font-size: 1rem;
//         margin-right: 2px;
//         @include mq(sm) {
//             display: none;
//         }
    
//     }

//     &__postslink {
//         font-family: $en-fonts;
//         color: $header-color;
//         font-size: 1.5rem;
//         @include mq(sm) {
//             display: flex;
//         }
//     }

//     &__pre {
//         display: none;
//         @include mq(sm) {
//             display: block;
//             font-family: $jp-fonts-l;
//         }
//     }
// }

// 変更

.wp-pagenavi {
    margin-top: 60px;
    text-align: center;
    @include mq(sm) {
        display: flex;
        justify-content: space-between;
    }
}

.pages {
    font-family: $en-fonts;
    color: $header-color;
    font-weight: bold;
    font-size: 1rem;
    margin-right: 2px;
    @include mq(sm) {
        display: none;
    }
}
    

//     &__postslink {
//         font-family: $en-fonts;
//         color: $header-color;
//         font-size: 1.5rem;
//         @include mq(sm) {
//             display: flex;
//         }
//     }

//     &__pre {
//         display: none;
//         @include mq(sm) {
//             display: block;
//             font-family: $jp-fonts-l;
//         }
//     }
// }

