.p-table {
    background: #ffffff;
    width: 100%;
    margin: 40px 0;
    border-collapse: collapse;
    @include mq(sm) {
        margin: 20px 0;
    }

        &__left ,&__right{
        border:1px $header-color solid;
        font-family: $jp-fonts-l;
        color: $major-fc;
        font-size: 1.5rem;
        @include mq(sm) {
            font-size: 1rem;
        }
        }

        &__left {
            padding-left: 20px;
            @include mq(sm) {
                padding-left: 15px;
            }
        }

        &__right {
            padding: 20px 90px 20px 20px;
            @include mq(sm) {
                padding: 15px 45px 15px 15px;
            }

        }
}