.has-fixed-layout{
    background-color: #ffffff;
    width: 100%;
    margin: 40px 0;
    border-collapse: collapse;
    @include mq(sm) {
        margin: 20px 0;
    }
}

td {
    border:1px $header-color solid;
    font-family: $jp-fonts-l;
    color: $major-fc;
    font-size: 1.5rem;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    @include mq(sm) {
        font-size: 1rem;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;    
    }

}