$breakpoints: (
	sm: "screen and (max-width: 600px)",
	md: "screen and (max-width: 960px)",
	lg: "screen and (max-width: 1199px)",
) ;

@mixin mq($breakpoint: md) {
	@media #{map-get($breakpoints, $breakpoint)} {
	  @content;
	}
}

// 指定したKey($breakpoint)の値($breakpoint: md)つまり
// @media sreen and (max-width: 768px) を取得している

// 使う時は
// @include mq() {}

// ()内、初期値mdなので、必要に応じてsm、lgを入力
